@(app: ApplicantModel)(jobAppList: List[JobApplicationModel])(loginForm: Form[Application.Login])
@import java.math.BigInteger; var i=1
@import helper._

@MainWebsite.MainWebsiteTemplate("User Profile")(loginForm) {
<script>
	     function del(urlToDelete) {
	        $.ajax({
	          url: urlToDelete,
	          type: 'DELETE',
	          success: function(results) {
	            // Refresh the page
	            location.reload();
	          }
	        });
	      }
	</script>

	<div class="user-profile-container container">
		<div class="col-sm-12 col-md-10 col-lg-8" id="profile-inner-div">
			<div id="profile-section" class="profile-class">
				<div>
					<a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteAccountModal" style="float: right">Delete Account</a>
				</div>
				
				<h3 class="blue-text"><strong>User Profile</strong></h3>
				<hr>
				
				<div class="col-xs-12 col-sm-12 col-md-12" id="applicant-info">
					@if(app != null) {
						@if(app.profileImage == null) {
							<a href="" data-toggle="modal" data-target="#uploadImageModal" title="Upload Photo">
								<img class="thumbnail" id="user-photo" src="@routes.Assets.at("images/blank_user.jpg")" alt="user-photo">
							</a>
						} else {
							<a href="" data-toggle="modal" data-target="#uploadImageModal" title="Upload Photo">
								<img class="thumbnail" id="user-photo" src="@routes.Assets.at(app.profileImage)" alt="user-photo">
							</a>
						}
							<strong class="blue-text">Name:</strong>&nbsp;&nbsp;@app.applicant_firstName&nbsp;@app.applicant_lastName
							<br>
							<strong class="blue-text">Email:</strong>&nbsp;&nbsp;@app.applicant_email
							<br>
							<strong class="blue-text">City:</strong>&nbsp;&nbsp;@app.applicant_city
					}
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12">
					<a href="/editprofile/@app.applicant_email" class="btn btn-default btn-sm">Edit Profile</a>
				</div>
				
			</div>
			
			
			<!-- Form for uploading CV -->
			@if(app.cvFileName != null) {
				<div class="cv-upload-div">
					<h4 class="blue-text"><strong>Your CV on File</strong></h4>
					<a href="@routes.Assets.at(app.cvFilePath)" download class="btn btn-primary" id="cv-filename"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;@app.cvFileName</a>
				</div>
			}
			<div class="cv-upload-div">
				<hr>
				<button class="btn btn-default" data-toggle="modal" data-target="#uploadCVModal">Upload CV</button>
			</div>
			<div class="clearfix"></div>
			
			<div id="job-list" class="profile-class">
				<h3 class="blue-text"><strong>Job Applications for @app.applicant_firstName @app.applicant_lastName</strong></h3>
				<hr>
	
				@if(jobAppList.size != 0) {
					@for(jobApp <- jobAppList) {
						<div id="applicant-job-listing">
							<strong>@i</strong> | <span>@jobApp.job.job_title &#8209; <strong>@jobApp.job.job_location</strong></span>
						</div>
						
						@if(jobApp.status == "submitted") {
							<div>
								<span>Application Status:</span> <span id="job-app-progress" class="label label-danger" style="float: none;">Submitted</span>
							</div>
							<br>
							<div class="progress">
								<div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 20%">
							    	Submitted
								</div>
								<div class="progress-bar progress-bar-warning" style="width: 30%; opacity: 0.3;">
							    	Accepted
								</div>
								<div class="progress-bar progress-bar-success" style="width: 50%;  opacity: 0.3;">
							    	Interview Stage
								</div>
							</div>
						} else {
							@if(jobApp.status == "declined"){
								<div>
									<span>Application Status:</span> <span id="job-app-progress" class="label label-danger" style="float: none;">Unsuccessful</span>
								</div>
								<br>
							
								<div class="progress">
									<div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 20%; opacity: 0.3;">
								    	Unsuccessful
									</div>
									<div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 30%; opacity: 0.3;">
								    	Accepted
									</div>
									<div class="progress-bar progress-bar-success" style="width: 50%; opacity: 0.3;">
								    	Interview Stage
									</div>
								</div>
						} else {
							@if(jobApp.status == "accepted"){
								<div>
									<span>Application Status:</span> <span id="job-app-progress" class="label label-warning" style="float: none;">Accepted</span>
								</div>
								<br>
								
								<div class="progress">
									<div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 20%">
								    	Submitted
									</div>
									<div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 30%">
								    	Accepted
									</div>
									<div class="progress-bar progress-bar-success" style="width: 50%; opacity: 0.3;">
								    	Interview Stage
									</div>
								</div>
						} else {
							@if(jobApp.status == "interview"){
								<div>
									<span>Application Status:</span> <span id="job-app-progress" class="label label-success" style="float: none;">Interview</span>
								</div>
								<br>
							
							<div class="progress">
								<div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 20%">
							    	Submitted
								</div>
								<div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 30%">
							    	Accepted
								</div>
								<div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 50%">
							    	Interview Stage
								</div>
							</div>
						}}
						}}
						<hr>
						@(i+=1)
						} 
					} else {
						<p>You have not applied for any jobs yet.  Start by searching&nbsp;&nbsp;<a href="/joblistings"><strong><u>here</u></strong></a></p>
					}
			</div>
		</div>
	</div>

}