@(jobs: List[JobListingModel])(jobSearchForm: Form[JobListingController.JobSearch])(loginForm: Form[Application.Login])(locations: List[String])(jobTypes: List[String])(sectors: List[String])
@import helper._

@MainWebsiteTemplate("JobSwift | Job Listings")(loginForm) {

<div class="container job-list-container">
	<div id="job-list-outer">
	
	<div class="row job-list-heading">
		<h4><strong>Showing Results for @if(jobs == null){0}else{@jobs.size} jobs</strong></h4>
	</div>
	<div class="clearfix"></div>
		<div class="col-xs-12 col-sm-12 col-md-3 " id="job-list-side-bar">
			<h3><strong>Search Jobs</strong></h3>
			<hr>
			<div>
				<form action="/jobsearch" method="POST">
				
					<div class="form-group">
						<label for="job_location">Location</label>
						<select required class="form-control" name="job_location">
							<option value="" disabled selected>Choose a location</option>
							<option value="%">Any</option>
							@for(location <- locations) {
								<option value="@location" name="job_location">@location</option>
							}
						</select>
					</div>
					
					<div class="form-group">
					<label for="job_sector">Sector</label>
					<select required class="form-control" name="job_sector">
						<option value="" disabled selected>Choose a sector</option>
						<option value="%">Any</option>
						@for(sector <- sectors) {
							<option value="@sector" name="job_sector">@sector</option>
						}
					</select>
					</div>
					
					<div class="form-group">
					<label for="job_type">Job Type</label>
					<select required class="form-control" name="job_type">
						<option value="" disabled selected>Choose a Job Type</option>
						<option value="%">Any</option>
						@for(jobType <- jobTypes) {
							<option value="@jobType" name="job_sector">@jobType</option>
						}
					</select>
					</div>
					
					<br>
					<input type="hidden" value="@jobSearchForm("id").valueOr("")" name="id"/>
					<input type="submit" class="btn btn-primary btn-square-adjust" value="Submit">
				</form>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 job-list-box">
			@if(jobs != null) {	
				@for(job <- jobs) {
					<div class="single-job-listing">
						<div class="job-list-top">
							<span class="job-title">@job.job_title</span> - 
							@job.job_location
						</div>
						
						<div class="job-list-bottom">
							<ul id="job-list-head" class = "job-list heading">
								<li>Salary:</li>
								<li>Job Type:</li>
								<li>Location:</li>
							</ul>
						
							<ul id="job-list-content" class="job-list content">
								<li>&euro;@job.job_salary</li>
								<li>@job.job_type</li>
								<li>@job.job_location</li>
							</ul>
							<div class="clearfix"></div>
							<br>
							
							<details>
								<summary class="job-list heading">Description</summary>
								<p>@job.job_description</p>
							</details>
							<details>
								<summary class="job-list heading">Criteria</summary>
								<p>@job.job_criteria</p>
							</details>
							<br>
							<a href="/apply@job.job_id" class="btn btn-success square-btn-adjust apply-button">Apply</a>
						</div>
					</div>
				}
			@JobListingController.clearJobResults
			}
		</div>
	</div>
</div>
}