
.user-profile-container {
	min-height: 92%;
	margin-bottom: 50px;
}

#profile-inner-div {
	float: none;
	margin: 0 auto;
}

.profile-class {
	position: relative;
	background: #fff;
	margin: 60px 0 0 0;
	padding: 20px;
	overflow: auto;
}

.cv-upload-div {
	background: #fff;
	padding: 20px;
}

#profile-section img {
	float: left;
	width: 50%;
	max-width: 100px;
	margin-right: 20px;
}

#applicant-job-listing {
	background: #E1E1E1;
	padding: 10px;
	margin: 50px 0 10px 0;
	width: 100%;
	max-width: 400px;
	border-radius: 6px;
}

#job-app-progress {
	font-size: 14px;
	margin: 25px 0 0 20px;
	float: left;
}

#user-photo {
	min-width: 140px;
}

#user-photo:hover{
	opacity: .7;
}

#edit-profile-form {
	float: none;
	margin: 0 auto;
}

.view-profile-buttons {
	margin: 50px 0 0 0;
}
