@(jobList: List[JobListingModel])(applicationList: List[JobApplicationModel])(interviewList: List[JobApplicationModel])(taskList: List[AssignedTaskModel])
@import java.math.BigInteger; var i=1
@RecruitersScreenTemplate("Recruitment Agency") {

<script>
     function del(urlToDelete) {
        $.ajax({
          url: urlToDelete,
          type: 'DELETE',
          success: function(results) {
            // Refresh the page
            location.reload();
          }
        });
      }
</script>

<div class="row">
	<div class="col-md-12">
		<h2>Admin Dashboard</h2>
	</div>
</div>
<!-- /. ROW  -->

<hr />

<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-6">
		<div class="panel panel-back noti-box">
				<div class="inner-noti-box new-app-button">
					<span class="icon-box bg-color-blue set-icon"> <i
						class="fa fa-user"></i>
					</span>
					<div class="text-box">
						<p class="main-text">@applicationList.size&nbsp;New</p>
						<p class="text-muted">&nbsp;Job&nbsp;Applications</p>
					</div>
				</div>
		</div>
	</div>
	
	<div class="col-md-3 col-sm-6 col-xs-6">
		<div class="panel panel-back noti-box">
				<div class="inner-noti-box complete-interview-button">
					<span class="icon-box bg-color-blue set-icon"> <i
						class="fa fa-check-square-o"></i>
					</span>
					<div class="text-box">
						<p class="main-text">@interviewList.size Interviews</p>
						<p class="text-muted">Completed</p>
					</div>
				</div>
		</div>
	</div>

@* <!--
	<div class="col-md-3 col-sm-6 col-xs-6">
		<div class="panel panel-back noti-box">
				<div class="inner-noti-box job-list-button">
					<span class="icon-box bg-color-blue set-icon"> <i
						class="fa fa-bars"></i>
					</span>
					<div class="text-box">
						<p class="main-text">@jobList.size&nbsp;Job</p>
						<p class="text-muted">listing(s)</p>
					</div>
				</div>
		</div>
	</div>
-->
*@

	<div class="col-md-3 col-sm-6 col-xs-6">
		<div class="panel panel-back noti-box">
				<div class="inner-noti-box assigned-task-button">
					<span class="icon-box bg-color-blue set-icon"> <i
						class="fa fa-bell-o"></i>
					</span>
					<div class="text-box">
						<p class="main-text">&nbsp;@taskList.size Assigned</p>
						<p class="text-muted">Tasks</p>
					</div>
				</div>
		</div>
	</div>

</div>

<!-- /. ROW  -->
<div class="clearfix"></div>
<hr />

<div class="toggle-hide app-list-table">
	<h3>New (Unprocessed) Job Applications</h3>
	<h5>Oldest First</h5>
	<div class="table-responsive" style="padding:10px;">
	
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Applicant</th>
					<th>Job ID</th>
					<th>Company</th>
					<th>Job Title</th>
					<th>Location</th>
					<th>Date of Application</th>
				</tr>
			</thead>
			<tbody class="user_table_body">
				@for(application <- applicationList) {
					<tr>
						<td class="user_table_id">@i</td>
						<td>
						<p><strong>Name:</strong> @application.app.applicant_firstName @application.app.applicant_lastName</p>
						<a href="/viewuser/@application.app.applicant_email" target="_blank" class="btn btn-default">View Applicant's Profile</a>
						</td>
						<td>@application.job.job_id</td>
						<td>@application.job.job_company</td>
						<td>@application.job.job_title</td>
						<td>@application.job.job_location</td>
						<td>@application.date</td>
						
						@**<td>
							<a href="@routes.ApplicantController.details(applicant.applicant_email)"><i class="fa fa-pencil"></i></a>
						</td>**@
					</tr>
					@(i+=1)
				}
			</tbody>
		</table>
	</div>
</div>

<!--  -->
<div class="toggle-hide complete-interview-list-table">
	<h3>Completed Interviews</h3>
	<div class="table-responsive" style="padding:10px;">
	
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Applicant</th>
					<th>Job Application ID</th>
					<th>Company</th>
					<th>Job Title</th>
				</tr>
			</thead>
			<tbody class="user_table_body">
				@for(interview <- interviewList) {
					<tr>
						<td class="user_table_id">@i</td>
						<td>
						<p><strong>Name:</strong> @interview.app.applicant_firstName @interview.app.applicant_lastName</p>
						<a href="/viewuser/@interview.app.applicant_email" target="_blank" class="btn btn-default">View Applicant's Profile</a>
						</td>
						<td>@interview.job_application_id</td>
						<td>@interview.job.job_company</td>
						<td>@interview.job.job_title</td>
						
						@**<td>
							<a href="@routes.ApplicantController.details(applicant.applicant_email)"><i class="fa fa-pencil"></i></a>
						</td>**@
					</tr>
					@(i+=1)
				}
			</tbody>
		</table>
	</div>
</div>


<div class="toggle-hide task-list-table">
	<h3>All Assigned Tasks</h3>
	<div class="table-responsive" style="padding:10px;">
	
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Assigned Employee</th>
					<th>Job Title</th>
					<th>Applicant</th>
					<th>Application Status</th>
				</tr>
			</thead>
			<tbody class="user_table_body">
				@for(task <- taskList) {
					<tr>
						<td>@task.emp.employee_firstName @task.emp.employee_lastName</td>
						<td>@task.jobApp.job.job_title</td>
						<td><a href="/viewuser/@task.jobApp.app.applicant_email" target="_blank" class="btn btn-primary">@task.jobApp.app.applicant_firstName @task.jobApp.app.applicant_lastName</a></td>
						<td>@task.jobApp.status</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

	<script>
		$(document).ready(function() {
        	$('.new-app-button').click(function() {
        		if ($(".task-list-table").is(":visible")) {
        	    	$('.task-list-table').hide();
        	    } else if ($(".complete-interview-list-table").is(":visible")) {
        	    	$('.complete-interview-list-table').hide();
        	    }
				$('.app-list-table').fadeIn("fast");
        	});
        	
        	$('.complete-interview-button').click(function() {
        		if ($(".app-list-table").is(":visible")) {
        	    	$('.app-list-table').hide();
        	    }else if ($(".task-list-table").is(":visible")) {
        	    	$('.task-list-table').hide();
        	    }
        	    $('.complete-interview-list-table').fadeIn("fast");
    		});
        	
        	$('.assigned-task-button').click(function() {
        		if ($(".app-list-table").is(":visible")) {
        	    	$('.app-list-table').hide();
        	    }else if ($(".complete-interview-list-table").is(":visible")) {
        	    	$('.complete-interview-list-table').hide();
        	    }
        	    $('.task-list-table').fadeIn("fast");
    		});
        	
    	});
	</script>

}
