@(jobForm: Form[JobListingModel])(locations: List[String])(sectors: List[String])
@import helper._
@import java.math.BigInteger; var i=0

@Recruiter.RecruitersScreenTemplate("Job Listing Form") {
			
			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-4">
				<form action="/addjob" method="POST">
				
					<div class="form-group">
						<label for="job_sector">Sector</label>
						<select class="form-control" name="job_sector">
							<option value="" disabled selected>Choose a sector</option>
							@for(sector <- sectors) {
								<option value="@sector" name="job_sector">@sector</option>
							}
						</select>
					</div>
					
					<div class="form-group">
						<label for="job_title">Title</label>			
						<input type="text" class="form-control" name="job_title" placeholder="Job Title" id="job_title">
					</div>
					
					<div class="form-group">
						<label for="job_type">Type (Permanent/Temporary)</label>			
						<input type="text" class="form-control" name="job_type" placeholder="Job Type" id="job_type">
					</div>
					
					<div class="form-group">
						<label for="job_location">Location</label>
						<select class="form-control" name="job_location">
							<option value="" disabled selected>Choose a location</option>
							@for(location <- locations) {
								<option value="@location" name="job_location">@location</option>
							}
						</select>
					</div>
					
					<div class="form-group">
						<label for="job_salary">Salary (if applicable)</label>		
						<input type="text" class="form-control" name="job_salary" placeholder="Salary (if applicable)" id="job_salary">
					</div>
					
					<div class="form-group">	
						<label for="job_description">Description</label>		
						<textarea type="text" class="form-control" name="job_description" placeholder="Description" id="job_description"></textarea>
					</div>
					
					<div class="form-group">
						<label for="job_criteria">Criteria</label>		
						<textarea type="text" class="form-control" name="job_criteria" placeholder="Criteria" id="job_criteria"></textarea>
					</div>
					<hr>
					<div id="interview-questions">
					<h4><strong>Interview Questions</strong></h4>
					</div>
					<br>
					<a class="btn btn-primary" id="addQuestion">Add an Interview Question</a>
					<br>
					<br>
					<hr>
					<input type="hidden" value="@jobForm("id").valueOr("")" name="id"/>
					<input type="submit" class="btn btn-success" value="Save">
					
				</form>
			</div>
			
			<script>
			var num = 0;
			$('#addQuestion').click(
					function() {
						$('#interview-questions').append(
							'<div class="form-group"><input type="text" class="form-control" name="questions['+num+']" placeholder="Interview Question '+(num+1)+'"></div>'
						);
						num++;
					}
				);
			</script>

}