@(jobForm: Form[JobListingModel])
@import helper._

@Recruiter.RecruitersScreenTemplate("Job Listing Form") {    	
	@helper.form(action = routes.JobListingController.addJobListing()) {
		
			<fieldset>
				<legend>Job Listing (@jobForm("job_title").valueOr("New"))</legend>
				
				@helper.select(jobForm("job_sector"), options = options(JobListingController.sectorList), '_label -> "Sector")
				@helper.inputText(jobForm("job_title"), '_label -> "Job Title")
				@helper.inputText(jobForm("job_type"),'_label -> "Type")
				@helper.select(jobForm("job_location"), options = options(JobListingController.locationList), '_label -> "Location")
				@helper.inputText(jobForm("job_salary"),'_label -> "Salary (if applicable)")
				@helper.textarea(jobForm("job_description"),'_label -> "Job Description")
				@helper.textarea(jobForm("job_criteria"),'_label -> "Job Criteria")
				
			</fieldset>
			
			<input type="hidden" value="@jobForm("id").valueOr("")" name="id"/>
			<input type="submit" class="btn btn-primary" value="Save">
			<a class="btn" href="/dashboard">Cancel</a>
	}
}